.header {
  margin: 1rem 0;
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: #EEE5E9;
  border-radius: 0.5rem;
}

.headerTitle {
  font-size: 2rem;
  margin: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  color: white;
  opacity: 0.8;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  background-color: #383D3B;
  border-radius: 3rem;
  white-space: nowrap;
}


@media (min-width: 768px) {
  .header {
    font-size: 1.2rem;
    background-color: none;
  }

  .navmenu {
    background-color: #EEE5E9;
    border-radius: 0.5rem;
  }

  .navItem {

    white-space: nowrap;
    flex-wrap: nowrap;
  }
}

.navItem {
  font-size: 2rem;
  margin: 1rem;
  padding:  0.5rem;
  cursor: pointer;
  color: white;
  opacity: 0.8;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  background-color: #7C7C7C;
  border-radius: 1rem;
  white-space: nowrap;
  flex-wrap: nowrap;
}

.navItemActive {
  font-size: 2rem;
  margin: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  color: #383D3B;
  opacity: 0.8;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  background-color: rgb(238, 238, 227);
  border-radius: 1rem;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.navItem:hover {
  color: #383D3B;
  opacity: 1;
  background-color: rgb(238, 238, 227);
}

.navmenu {
  position: relative;
  width: auto;
  justify-content: flex-start;
  flex-direction: row;
  display: flex;
  background-color: none;
}