.header {
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: aquamarine;
  border-radius: 0.5rem;
}

.headerTitle {
  font-size: 2rem;
  margin: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  color: white;
  opacity: 0.6;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  background-color: aqua;
  border-radius: 1rem;
}


@media (min-width: 768px) {
  .header {
    font-size: 1.2rem;
    background-color: none;
  }

  .navmenu {
    background-color: aquamarine;
    border-radius: 0.5rem;
  }
}

.navItem {
  font-size: 2rem;
  margin: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  color: white;
  opacity: 0.6;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  background-color: aqua;
  border-radius: 1rem;
  white-space: nowrap;
}

.navItemActive {
  font-size: 2rem;
  margin: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  color: white;
  opacity: 0.6;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  background-color: aqua;
  border-radius: 1rem;
}

.navItem:hover {
  color: white;
  opacity: 1;
}

.navmenu {
  position: relative;
  width: auto;
  justify-content: flex-start;
  flex-direction: row;
  display: flex;
  background-color: none;
}