.footer {
   display: grid;
   padding-right: 1rem;
   padding-left: 1rem;
   grid-template-areas: 
     'content content followUs'
   ;
   grid-template-columns: 12fr 2fr minmax(7rem, 1fr);
   gap: 1em;
   background-color: #F1EBEE; 
   border-radius: 1rem;
   color: gray;
   opacity: 0.8;
}

.content {
   grid-area: content;
}

.followUs {
   grid-area: followUs;
}

.contactUs {
   grid-area: contactUs;
}

.iconsArea {
   display: flex;
   justify-content: flex-start;
   align-items: center;
}

.icon {
   display: block;
   width: 2rem;
   height: 2rem;
   background-color: aliceblue;
   border-radius: 1rem;
}